*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
}

#board{
    background-color: red;
    width: 800px;
    height: 450px;
    display: flex;
    flex-direction: column;
}
#status{
    background-color: #22c1c3;
    flex:1;
    display: flex;
}
#arena{
    flex:8;
    display: flex;
    position: relative;
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(255,192,58,1) 19%);
}
.info-box{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arena-member{
    position: absolute;
}
.arena-member:nth-child(1),.arena-member:nth-child(4){
    width: 15px;
    height: 100px;
    background-color: #fc466b;
    border-radius: 5px;
}
.arena-member:nth-child(3){
    height: 100%;
    background-color: #fff;
    left: 50%;
    transform:  translateX(-50%)
}
.arena-member:nth-child(5){
    width: 100%;
    height: 100%;
    background-color: skyblue;
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;
}

